/*цвета
C39B51-gold

*/

@font-face {
    font-family: 'Gotu';
    src: url('../fonts/Gotu-Regular.ttf');
}

@font-face {
    font-family: 'CormorantInfant-Bold';
    src: url('../fonts/CormorantInfant-Bold.ttf');
}

@font-face {
    font-family: 'CormorantInfant-Regular';
    src: url('../fonts/CormorantInfant-Regular.ttf');
}


/*--------------* общие стили*------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Gotu', 'CormorantInfant-Bold', 'CormorantInfant-Regular', 'Monaco', 'Lucida Console', Helvetica, sans-serif;
}

a {
    text-decoration: none;
    text-align: center;
}


/*--------------*---------*------------------*/


/*--------------*стиль всей секции и фон*------------------*/

.page {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: black;
    background-image: url('../img/phone.jpeg');
    background-repeat: no-repeat;
    background-position: top 0 center;
    background-size: auto 100%;
}


/*--------------*---------*------------------*/


/*--------------*wrapper--обертки*------------------*/

.wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 50px;
}

.wrapper_button {
    z-index: 100;
    width: 100%;
    padding: 0 100px;
    height: max-content;
    display: flex;
    justify-content: space-between;
}

.img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*--------------*---------*------------------*/


/*--------------*logo*------------------*/

img.logo {
    width: 800px;
    height: auto;
}


/*--------------*---------*------------------*/


/*--------------*button*------------------*/

.silver_button,
.gold_button {
    z-index: 50;
    position: relative;
    display: flex;
    min-height: max-content !important;
    width: max-content;
    padding: 20px 30px;
    justify-content: center;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    background: #020202;
    border: 5px solid #928d8a;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10%;
    transition-duration: 2s;
}

.gold_button {
    border-color: #c39b51 !important;
}


/*--------------*---------*------------------*/


/*--------------*hover наведения*------------------*/

.silver_button:hover,
.silver_button:active {
    cursor: pointer;
    background-color: #2a2a2a;
    color: #3f8893;
    font-weight: bold;
    border-color: #bcbcbc;
    box-shadow: 0 0 30px 1px #7debfcb1;
    border: 5px solid;
    transform: scale(1.1);
    transition-duration: 0.7s;
}

.gold_button:hover,
.gold_button:active {
    cursor: pointer;
    border: 5px solid;
    background-color: #363636;
    color: #7c5925;
    font-weight: bold;
    border-color: #ce8d2a;
    transform: scale(1.1);
    transition-duration: 0.7s;
    box-shadow: 0 0 30px 1px #7c5925;
}

*:active {
    transition-duration: 0.1s !important;
}


/*--------------*button img*------------------*/

.pendant_silwer,
.pendant_gold {
    display: block;
    margin: auto;
    border-radius: 20%;
    opacity: 0.82;
}

.pendant_silwer {
    height: 26vh;
    width: 24vh;
}

.pendant_gold {
    height: 25vh;
    width: 18vh !important;
}


/*--------------*---------*------------------*/


/*--------------*media*------------------*/

@media (max-width: 1400px) {
    .wrapper_button {
        padding: 0 50px;
    }
}

@media (max-width: 1300px) {
    .wrapper_button {
        padding: 0px;
    }
}

@media (max-width: 1230px) {
    .wrapper_button img {
        display: none;
    }
}

@media (max-width: 1030px) {
    .wrapper {
        padding: 200px 60px 50px;
    }

    .img_wrapper {
        align-items: flex-start;
        top: 20px;
    }

    img.logo {
        width: 600px;
    }
}

@media (max-width: 767px) {
    .wrapper {
        padding: 20px 50px 80px;
    }

    /*----*/
    .img_wrapper {
        top: 40px;
    }

    img.logo {
        width: 600px;
    }

    /*--------------*button*------------------*/
    .silver_button,
    .gold_button {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (max-width: 550px) {
    .wrapper {
        padding: 50px 30px 90px;
    }

    /*----*/
    .img_wrapper {
        top: 50px;
    }

    img.logo {
        width: 500px;
    }

    /*--------------*button*------------------*/
    .silver_button,
    .gold_button {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 400px) {
    .wrapper {
        padding: 50px 10px;
    }

    /*----*/
    .img_wrapper {
        top: 20px;
    }

    img.logo {
        width: 380px;
    }

    /*--------------*button*------------------*/
    .button-conteiner {
        margin: 50px auto 10px;
    }
}

@media (max-width: 340px) {
    .wrapper {
        padding: 20px 10px 30px;
    }

    /*----*/
    .img_wrapper {
        top: 30px;
    }

    img.logo {
        width: 370px;
    }

    /*--------------*button*------------------*/
    .silver_button,
    .gold_button {
        padding: 5px 15px;
        border: 3px solid;
        font-size: 12px;
        line-height: 22px;
    }
}

@media (max-width: 245px) {
    .wrapper {
        padding: 10px;
    }

    /*----*/
    .img_wrapper {
        top: 10px;
    }

    img.logo {
        width: 250px;
    }

    /*--------------*button*------------------*/
    .button-conteiner {
        margin: 50px auto 0px;
    }

    .silver_button,
    .gold_button {
        padding: 5px 15px;
        border: 3px solid;
        font-size: 12px;
        line-height: 22px;
    }
}


/*----------media HEIGHT---------*/

@media (max-height: 540px) {
    .wrapper {
        padding: 50px 10px;
    }

    /*----*/
    .img_wrapper {
        top: 20px;
    }

    img.logo {
        width: 450px;
    }

    /*--------------*button*------------------*/
    .button-conteiner {
        margin: 50px 30px 10px;
    }

    .silver_button,
    .gold_button {
        padding: 5px 15px;
        font-size: 22px;
        line-height: 36px;
    }
}

@media (max-height: 450px) {

    /*----*/
    img.logo {
        width: 380px;
    }

    /*--------------*button*------------------*/
    .silver_button,
    .gold_button {
        font-size: 18px;
    }
}

@media (max-height: 340px) {

    /*--------------*button*------------------*/
    .button-conteiner {
        margin: 50px 20px 10px !important;
    }
}

@media (max-height: 320px) {
    .wrapper {
        padding: 10px;
    }

    /*----*/
    .img_wrapper {
        top: 10px;
    }

    img.logo {
        width: 250px;
    }

    /*--------------*button*------------------*/
    .button-conteiner {
        margin: 50px auto 0px;
    }

    .silver_button,
    .gold_button {
        font-size: 12px;
        line-height: 22px;
    }
}

@media (max-height: 250px) {
    img.logo {
        width: 150px;
    }
}


/*--------------*---------*------------------*/